body {
    font-family: 'Rammetto One', sans-serif;
    overflow: hidden;
  }

.rascunho{
    width: 75vw;
    display: block;
    margin: 0 auto;
    opacity: 70%;
}

#lottie1{
    width: 12.5vw;
    height: auto;
    position: absolute;
    top: 10.1vw;
    left: 66.25vw;
}

#lottie2{
    width: 12.9vw;
    height: auto;
    position: absolute;
    top: 8.6vw;
    left: 75.5vw;
}