body {
    font-family: 'Rammetto One', sans-serif;
    overflow: hidden;
  }

.rascunho{
    width: 100vw;
    height: auto;
    top:0vw;
    display: block;
    position: absolute;
    margin: 0 auto;
    opacity: 80%;
}

#lottie1{
    width: 12.5vw;
    height: auto;
    position: absolute;
    top: 10.4vw;
    left: 66.8vw;

}

#lottie2{
    width: 13vw;
    height: auto;
    position: absolute;
    top: 8.67vw;
    left: 76vw;
}

.texto2{
    text-align: center;
    left: 20vw;
}

.container-2{
    position: absolute;
    left: 38vw;
    top: 23vw;
}

#lottie3{
    width: 14.7vw;
    height: auto;
    position: absolute;
    top: -0.5vw;
    left: 72.7vw;
}

#lottie4{
    width: 11.9vw;
    height: auto;
    position: absolute;
    top: 3.62vw;
    left: 58.1vw;
}

#lottie5{
    width: 12.7vw;
    height: auto;
    position: absolute;
    top: 2.1vw;
    left: 66.4vw;
    
}

#lottie6{
    width: 10vw;
    height: auto;
    position: absolute;
    top: 31.4vw;
    left: 60vw;
    
}

#lottie7{
    width: 14vw;
    height: auto;
    position: absolute;
    top: 34.8vw;
    left: 63.4vw;
    
}

#lottie8{
    width: 14vw;
    height: auto;
    position: absolute;
    top: 21.7vw;
    left: 72.5vw;
    
}

#lottie9{
    width: 17.1vw;
    height: auto;
    position: absolute;
    top: 15.5vw;
    left: 68.4vw;
    
}

#lottie10{
    width: 11.7vw;
    height: auto;
    position: absolute;
    top: 19.2vw;
    left: 80.25vw;
    
}

#lottie11{
    width: 10.3vw;
    height: auto;
    position: absolute;
    top: 11.98vw;
    left: 58.27vw;
    
}