body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rammetto One', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 52vw;
    position: absolute;
}

.alvaro {
    width: 80vw;
    height: auto;
}

#alvaromeio{
    display: none;
}

.bolha{
    width: 50vw;
    height: auto;
}

.texto{
    text-align: center;
}

.bolhadepois {
    height: auto;
    animation: floatUp 5s ease-in-out forwards;
    position: relative;
    /* bottom: 0; */
}

.bolhadepois circle {
    fill: url(#grad1);
}


:root {
    --esq-vw: -20vw;
}

:root {
    --tam-vw: 8vw;
}

@keyframes floatUp {
    0% {
        top: -20vw;
        width: 5vw;
        left: 0vw;
    }
    20% {
        left: -4vw;
    }
    42% {
        left: 2vw;
    
    }
    57% {
        left: -2vw;
    
    }

    100% {
        top: calc(-50vw);
        width: var(--tam-vw);
        left: var(--esq-vw);
    }
}

