body {
    font-family: 'Rammetto One', sans-serif;
    overflow: hidden;
  }

.rascunho{
    width: 100vw;
    height: auto;
    top:0vw;
    display: block;
    position: absolute;
    margin: 0 auto;
    opacity: 80%;
}

#lottie1{
    width: 12.5vw;
    height: auto;
    position: absolute;
    top: 10.4vw;
    left: 66.8vw;

}

#lottie2{
    width: 13vw;
    height: auto;
    position: absolute;
    top: 8.67vw;
    left: 76vw;
}

.texto{
    text-align: center;
}

.container-2{
    position: absolute;
    justify-content: center;
    align-items: center;
}

#lottie3{
    width: 14.7vw;
    height: auto;
    position: absolute;
    top: -0.68vw;
    left: 72.7vw;
}

#lottie4{
    width: 11.9vw;
    height: auto;
    position: absolute;
    top: 3.62vw;
    left: 58.1vw;
}